body{
    background-color:black;
    color: white;
}
div{
    text-align: center;
    font-size: large;
}
input{
    width: 24%;
    height: 35px;
}
.send{
    background: #f65c6c, #0c2bb8 ;
}
