body{
    background-color:black;
    color: aliceblue;
}
ul{
    position: relative;
    left: 70%;
    bottom:70%;
    display: inline-flex;
    gap: 7%;
    list-style: none;
}
li{
    padding-right: 4%;
}
a{
    color: white;
    text-decoration: none;
}
h2{
    text-align: center;
    height: 17%;

}
img{
    width: 40%;
    height: 40%;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: black;
    width: 100%;
    z-index: 999;

}
.honeHeader{
    margin:0%;
    padding: 1%;
    padding-right: 0%;
    color: aliceblue;
    
}
.upper{
    background-color: black;
    height: 10%;
}
.FirstHtwo{
    padding-top: 14%;
    font-size:230%;
    font-weight: 500;
    letter-spacing: 2px;
    height: 450%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
span{
    font-size: medium;
    padding-bottom: 10%;
    padding-top: 20%;
    position: relative;
    right:12%;
}
#yellow{
    position: relative;
    left:12%;
    padding-top: 10%;
    z-index:-1;
}
h5{
    position: relative;
    left: 55%;
    top: 370px;
    padding:0px;
    border: 0px;
    margin-right: 850px;
    
}
.lastHones{
    text-align: left;
    margin-left: 13%;
    padding: 3%;
}
.secondHtwo{
    margin: 12% 5% 10% 5%;
}
h6{
    text-align: right;
    font-weight: 700;
    margin-right: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}